.alert
  padding 1rem 3.5rem
  margin-bottom 2rem
  color $blue-dark
  border-radius 4px
  
  &--orderAttached
    position relative
    background-color rgba($blue, .3)
    
    &:before
      position absolute
      left 1rem
      content url('/img/icon-alert.png')
      
    +below($desktop)
      text-align center
  
  &-message
    margin 0