.btn
  color white
  text-transform uppercase
  padding .5rem 2.5rem
  border 0
  font-weight 700
  display inline-block
  text-decoration none
  
  &--search
    background-color $primary
    transition 300ms all ease-in-out
    
    &:hover
      background-color darken($primary, 10)
    
    +below($mobile)
      width 100%