.card
  shadow()
  margin-bottom 2rem
  border-radius .25rem
  background-color white
  
  &-header
    padding 1.25rem
    clear fix
    border-bottom 2px solid $grey-light
    
    &-data
      margin 0
      font-size 1.5rem
      font-weight bold
    
  &-section
    padding 2rem 1.25rem
    border-bottom 2px solid $grey-light

    &:last-child
      border-bottom 0
  
  &-tag
    margin 0
    text-transform uppercase
    opacity .59
    font-size 12px
  
  &-title
    margin-top 0
    margin-bottom 1.5rem
    font-size 1.25rem
