.card
  // lost-utility edit
  overflow hidden
  margin-bottom 2rem
  
  &-header
    padding-bottom 1.25rem
    overflow hidden
    border-bottom 2px solid $primary
    
    &-data
      margin 0
      font-size 1.5rem
      font-weight bold
    
  &-section
    padding-top 2rem
    padding-bottom 2rem

    &:last-child
      border-bottom 0
  
  &-tag
    margin 0
    text-transform uppercase
    opacity .59
    font-size 12px
  
  &-title
    margin-top 0
    margin-bottom 1.5rem
    font-size 1rem
    padding .5rem
    background-color $black
    color white
    font-weight 400
