.clientInfo
  overflow hidden
  margin 0
  padding 0
  list-style none
  
  &-item
    float left
    margin-bottom 1rem
    width 50%
    
    +below($tablet)
      float none
      width 100%
    
    &:last-child
      margin-bottom 0

  &-data
    margin-top 0
    margin-bottom 0