.container
  overflow hidden
  margin-right auto
  margin-left auto
  min-height 200px
  max-width 1440px
  width 95%
  
  +below($desktop)
    text-align center
    
  &-header
    overflow hidden
    padding-top 2.5rem
    padding-bottom 2.5rem

  &-search
    max-width 400px
    float right
    font-size 13px
    
    +below($tablet)
      float none
      max-width 100%
      
    .mainSearch-input
      min-width 250px
  
  .input
    border 1px solid $black
      
  &--index
    background-color $grey

.client-name
  float left
  font-weight 400
  margin 0
  font-size 1.75rem
  
  +below($tablet)
    float none
    margin-bottom 1rem
    text-align center
