.status
  margin-top 0
  margin-bottom 0
  padding .25rem .75rem
  border-radius 4px
  color white
  background-color $grey
  font-weight 700
  text-transform uppercase
  text-align center
  letter-spacing 1px
  font-size 12px
  
  &--captured
    background-color $orange
    
  &--authorized
    background-color $blue
    
  &--shipped
    background-color $green