.status
  margin-top 0
  margin-bottom 0
  padding .25rem .75rem
  border-radius 4px
  font-weight 700
  text-transform uppercase
  text-align center
  letter-spacing 1px
  background-color $green
  color white
  font-size 12px