.table
  width 100%
  font-size 14px
  
  thead
    text-transform uppercase
    font-weight bold
    font-size 11px
    color $grey
    
    th:first-child
      text-align left
      
    tr
      border-bottom 0
      
  tr
    border-bottom 1px solid $grey-light
  
  td
    text-transform uppercase
    padding-top .5rem
    padding-bottom .5rem
    text-align center
    
    &:first-child
      text-align left
  
  a
    color inherit
    text-decoration none
    
    &:hover
      text-decoration underline
            
.table-tracking
  
  td
    width 20%

  td:first-child
    width 60%
  
  td:last-child
  th:last-child
    text-align right
    
.table-order
  
  td
    width 13%
    
    &:first-child
      width 35%
    
    &:last-child
      padding-right .5rem
      padding-left .5rem
